<h1 class="center">Liste de Pokemon</h1>

<app-detail-message-pokemon [pokemonDetail]="pokemonSelected" (click)="resetSelected()"></app-detail-message-pokemon>

<div class="container">
    <div class="row">
        <div class="col m4 s6" *ngFor="let pokemon of pokemons">
            <div class="card horizontal" (click)="selectPokemon(pokemon)" pkmnBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created }}</small></p>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</div>


<!-- Code bon à savoir -->

<!-- <input  
        #input 
        (keyup.enter)=selectPokemon(input.value);
        type="number" 
/>
<p *ngIf="pokemonSelected">
        Vous avez séléctionné : {{ pokemonSelected?.name }}
</p>
<p *ngIf="!pokemonSelected">
        Aucun pokemon séléctionné pour le moment
</p> -->